<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-6 hidden-xs"  style="position:fixed;">
    <% if @sake.title == 'THE BIRTH OF SAKÉ' %>
      <iframe src="https://player.vimeo.com/video/120607742?color=ffffff&title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <% else %>
      <%= image_tag @sake.main_image %>
    <% end %>
  </div>
  <div class="hidden-lg hidden-md hidden-sm col-xs-12"  style="position:static;">
    <% if @sake.title == 'THE BIRTH OF SAKÉ' %>
      <iframe src="https://player.vimeo.com/video/120607742?color=ffffff&title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <% else %>
      <%= image_tag @sake.main_image %>
    <% end %>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
  </div>

  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
    <h1><%= @sake.title %></h1>
    <p><%= @sake.overview %></p>

    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <h3><%= @sake.header_1 %></h3>
        <p><%= @sake.text_1 %></p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <%= image_tag @sake.image_1 %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <%= image_tag @sake.image_2 %>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <h3><%= @sake.header_2 %></h3>
        <p><%= @sake.text_2 %></p>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_sake_path(@sake) %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Destroy', @sake, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>

  </div>


  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="position:fixed; right: 0px; top: 40%;">
    <% @sake.characters.split(',').each do |character| %>
      <h1><%= character %></h1>
    <% end %>
  </div>
</div>
