<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '', root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Faq', faq_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Content <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Types of Sake</li>
              <% @sakes.each do |sake| %>
                <li><%= link_to sake.title.capitalize, type_path(id: sake.id, title: sake.title) %></li>
              <% end %>
          </ul>
        </li>
        <% if user_logged_in? %>
          <%= current_user.email%>
          <%= link_to "Log out", logout_path, method: :delete, class:"btn btn-default navbar-btn" %>
        <% else %>
          <%= link_to "Log in", login_path ,  class:"btn btn-default navbar-btn"%>
        <% end %>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Sign Up', new_user_path %></button>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Create Page', new_sake_path %></button>
      </ul>
    </div>
  </div>
</nav>
