<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/shared/nav" %>

    <% flash.each do |name, message|%>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
